{% extends "seller-header.html" %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="p-5 border-0">
                <div class="text-center mb-4">
                    <img src="{{request.session.profile_picture}}" alt="User Photo" class="rounded-circle" style="width: 150px; height: 150px;object-fit:cover;">
                </div>
                <h2 class="text-center mb-4">Update Your Profile</h2>
                <form method="POST" action="{% url 'user-profile' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input name="fname" value="{{user.fname}}" type="text" class="form-control" id="firstName" placeholder="First Name">
                                <label for="firstName"><i class="fas fa-user"></i> First Name</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input name="lname" value="{{user.lname}}" type="text" class="form-control" id="lastName" placeholder="Last Name">
                                <label for="lastName"><i class="fas fa-user"></i> Last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input name="email" value="{{user.email}}" type="email" class="form-control" id="email" placeholder="Email" readonly>
                            <label for="email"><i class="fas fa-envelope"></i> Email</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input name="mobile" value="{{user.mobile}}" type="text" class="form-control" id="mobile" placeholder="Mobile">
                            <label for="mobile"><i class="fas fa-phone"></i> Mobile</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea name="address" class="form-control" id="address" placeholder="Address" style="height: 100px;">{{user.address}}</textarea>
                            <label for="address"><i class="fas fa-map-marker-alt"></i> Address</label>
                        </div>
                    </div>
                    
                    <div class="mb-4">
                        <label for="profileImage" class="form-label"><i class="fas fa-image"></i> Profile Image</label>
                        <input name="profile_picture" class="form-control" type="file" id="profileImage">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg w-100"><i class="fas fa-user-plus"></i> Register</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}